<div id="content">
    <div class="row">
        <article class="col-sm-12">
            <div>
                <button ng-click="vm.toggleEdit()" class="btn btn-primary"><i class="fa fa-fw fa-unlock"></i>编辑</button>
            </div>
            <div class="policies-table" jarvis-widget data-widget-color="darken" data-widget-editbutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-info"></i> </span>
                    <h2>财务账号详情</h2>
                </header>
                <div>
                    <div class="widget-body no-padding">
                        <div class="alert alert-block alert-warning" ng-show="vm.editable">
                            <h3 class="alert-heading"> 提交前请务必仔细核对！</h3>
                        </div>
                        <form name="sellerForm" id="sellerForm" class="smart-form" novalidate>
                            <section class="col col-6">
                                <fieldset class="optional-input-field-set" ng-disabled="!vm.editable">

                                    <div class="row">                                      
                                            <label class="label">用户名</label>
                                            <label class="input">
                                                <i class="icon-append fa fa-key"></i>
                                                <input type="text" class="input-lg" name="username" ng-model="vm.user.username" validator="required">
                                            </label>                                       
                                    </div>
                                    <div ng-show="vm.editable" class="row">                                       
                                            <label class="label">设置密码</label>
                                            <label class="input">
                                                <i class="icon-append fa fa-key"></i>
                                                <input type="text" class="input-lg" name="password" ng-model="vm.user.password" validator="required">
                                            </label>       
                                    </div>   
                                    <div class="row">                                      
                                            <label class="label">姓名</label>
                                            <label class="input">
                                                <i class="icon-append fa fa-user"></i>
                                                <input type="text" class="input-lg" name="name" ng-model="vm.user.name" validator="required">
                                            </label>                                      
                                    </div>
                                    <div class="row">                                       
                                            <label class="label">联系电话</label>
                                            <label class="input">
                                                <i class="icon-append fa fa-phone"></i>
                                                <input type="text" class="input-lg" name="phone" ng-model="vm.user.phone" validator="phone">
                                            </label>       
                                    </div>      
                                                   
                                </fieldset>
                            </section>

                            <footer class="clear">
                                <span>
                                    <button validation-submit="sellerForm" ng-click="vm.submit()" class="btn btn-primary" ng-show="vm.editable">提交后添加下一条
                                    </button>
                                    <button validation-submit="sellerForm" class="btn btn-primary" ng-show="vm.editable"
                                            ng-click="vm.submitAndBack()">提交后查看列表
                                    </button>
                                </span>
                            </footer>
                        </form>

                    </div>
                </div>
            </div>
        </article>
    </div>


</div>