<div id="content">
        <div class="row">
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div jarvis-widget id="condenced-table-widget" data-widget-editbutton="false">
                            <header>
                                <span class="widget-icon"> <i class="fa fa-info"></i> </span>
                                <h2>角色权限详情</h2>
                            </header>
                        <div>
                            <div class="widget-body no-padding">
    
                                <div class="table-responsive">
            
                                    <table class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox">
                                        <thead>
                                        <tr>
                                            <th>
                                                <label class="checkbox">
                                                    <input type="checkbox" name="checkbox-inline">
                                                    <i></i>
                                                </label>
                                            </th>
                                            <th>Column name <a href-void class="btn btn-xs btn-default pull-right"><i
                                                    class="fa fa-filter"></i></a></th>
                                            <th>Column name <a href-void class="btn btn-xs btn-default pull-right"><i
                                                    class="fa fa-filter"></i></a></th>
                                            <th>Column name <a href-void class="btn btn-xs btn-default pull-right"><i
                                                    class="fa fa-filter"></i></a></th>
                                            <th>Column name <a href-void class="btn btn-xs btn-default pull-right"><i
                                                    class="fa fa-filter"></i></a></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <label class="checkbox">
                                                    <input type="checkbox" name="checkbox-inline">
                                                    <i></i>
                                                </label>
                                            </td>
                                            <td>Row 1</td>
                                            <td>Row 2</td>
                                            <td>Row 3</td>
                                            <td>Row 4</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="checkbox">
                                                    <input type="checkbox" name="checkbox-inline">
                                                    <i></i>
                                                </label>
                                            </td>
                                            <td>Row 1</td>
                                            <td>Row 2</td>
                                            <td>Row 3</td>
                                            <td>Row 4</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="checkbox">
                                                    <input type="checkbox" name="checkbox-inline">
                                                    <i></i>
                                                </label>
                                            </td>
                                            <td>Row 1</td>
                                            <td>Row 2</td>
                                            <td>Row 3</td>
                                            <td>Row 4</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="checkbox">
                                                    <input type="checkbox" name="checkbox-inline">
                                                    <i></i>
                                                </label>
                                            </td>
                                            <td>Row 1</td>
                                            <td>Row 2</td>
                                            <td>Row 3</td>
                                            <td>Row 4</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="checkbox">
                                                    <input type="checkbox" name="checkbox-inline">
                                                    <i></i>
                                                </label>
                                            </td>
                                            <td>Row 1</td>
                                            <td>Row 2</td>
                                            <td>Row 3</td>
                                            <td>Row 4</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="checkbox">
                                                    <input type="checkbox" name="checkbox-inline">
                                                    <i></i>
                                                </label>
                                            </td>
                                            <td>Row 1</td>
                                            <td>Row 2</td>
                                            <td>Row 3</td>
                                            <td>Row 4</td>
                                        </tr>
                                        </tbody>
                                    </table>
            
                                </div>
            
                            </div>
                        </div>
                    </div>
                </article>
            </div>


</div>