<div id="content">
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div>
                <button ng-click="vm.toggleEdit()" class="btn btn-primary">
                    <i class="fa fa-fw fa-unlock"></i>编辑</button>
            </div>
            <div class="policies-table" jarvis-widget data-widget-color="darken" data-widget-editbutton="false">
                <header>
                    <span class="widget-icon">
                        <i class="fa fa-info"></i>
                    </span>
                    <h2>角色权限详情</h2>
                </header>
                <div>
                    <div class="widget-body no-padding">
                        <div class="alert alert-block alert-warning" ng-show="vm.editable">
                            <h3 class="alert-heading"> 提交前请务必仔细核对！</h3>
                        </div>

                        <form name="roleForm" id="roleForm" class="smart-form" ng-disabled="!vm.editable" novalidate>
                            <div class="row">
                                <section class="col col-6">
                                    <fieldset class="optional-input-field-set" ng-disabled="!vm.editable">

                                        <label class="label">角色名</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-key"></i>
                                            <input type="text" class="input-lg" name="name" ng-model="vm.role.name" validator="required">
                                        </label>

                                    </fieldset>
                                </section>
                            </div>
                            <div class="row table-responsive">
                                <section class="col col-12" style="width:100%;">
                                    <table class="table table-bordered table-striped table-condensedsmart-form">
                                        <thead>
                                            <tr>
                                                <th>模块名</th>
                                                <th>查看</th>
                                                <th>修改(状态)</th>
                                                <th>添加</th>
                                                <th>删除</th>
                                                <th>审核</th>
                                                <th>支付</th>
                                                <th>导入</th>
                                                <th>导出/下载</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    员工账号
                                                </td>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-model="vm.role.employee.view">
                                                        <i></i>
                                                    </label>
                                                </td>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-model="vm.role.employee.edit">
                                                        <i></i>
                                                    </label>
                                                </td>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-model="vm.role.employee.append">
                                                        <i></i>
                                                    </label>
                                                </td>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-model="vm.role.employee.delete">
                                                        <i></i>
                                                    </label>

                                                </td>
                                                <td>

                                                </td>
                                                <td>

                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    代理人
                                                </td>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-model="vm.role.client.view">
                                                        <i></i>
                                                    </label>
                                                </td>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-model="vm.role.client.edit">
                                                        <i></i>
                                                    </label>
                                                </td>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-model="vm.role.client.append">
                                                        <i></i>
                                                    </label>
                                                </td>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-model="vm.role.client.delete">
                                                        <i></i>
                                                    </label>

                                                </td>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-model="vm.role.client.aprove">
                                                        <i></i>
                                                    </label>
                                                </td>
                                                <td>

                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    保险公司
                                                </td>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-model="vm.role.company.view">
                                                        <i></i>
                                                    </label>
                                                </td>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-model="vm.role.company.edit">
                                                        <i></i>
                                                    </label>
                                                </td>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-model="vm.role.company.append">
                                                        <i></i>
                                                    </label>
                                                </td>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-model="vm.role.company.delete">
                                                        <i></i>
                                                    </label>

                                                </td>
                                                <td>
                                                </td>
                                                <td>

                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    分支机构
                                                </td>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-model="vm.role.organization.view">
                                                        <i></i>
                                                    </label>
                                                </td>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-model="vm.role.organization.edit">
                                                        <i></i>
                                                    </label>
                                                </td>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-model="vm.role.organization.append">
                                                        <i></i>
                                                    </label>
                                                </td>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-model="vm.role.organization.delete">
                                                        <i></i>
                                                    </label>

                                                </td>
                                                <td>
                                                </td>
                                                <td>

                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    车险（个人）
                                                </td>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-model="vm.role.policy.view">
                                                        <i></i>
                                                    </label>
                                                </td>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-model="vm.role.policy.edit">
                                                        <i></i>
                                                    </label>
                                                </td>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-model="vm.role.policy.append">
                                                        <i></i>
                                                    </label>
                                                </td>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-model="vm.role.policy.delete">
                                                        <i></i>
                                                    </label>

                                                </td>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-model="vm.role.policy.aprove">
                                                        <i></i>
                                                    </label>
                                                </td>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-model="vm.role.policy.pay">
                                                        <i></i>
                                                    </label>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-model="vm.role.policy.export">
                                                        <i></i>
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    车险（渠道）
                                                </td>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-model="vm.role.dealerPolicy.view">
                                                        <i></i>
                                                    </label>
                                                </td>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-model="vm.role.dealerPolicy.edit">
                                                        <i></i>
                                                    </label>
                                                </td>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-model="vm.role.dealerPolicy.append">
                                                        <i></i>
                                                    </label>
                                                </td>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-model="vm.role.dealerPolicy.delete">
                                                        <i></i>
                                                    </label>

                                                </td>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-model="vm.role.dealerPolicy.aprove">
                                                        <i></i>
                                                    </label>
                                                </td>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-model="vm.role.dealerPolicy.pay">
                                                        <i></i>
                                                    </label>
                                                </td>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-model="vm.role.dealerPolicy.import">
                                                        <i></i>
                                                    </label>
                                                </td>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-model="vm.role.dealerPolicy.export">
                                                        <i></i>
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    车险（代理人上传的图片保单）
                                                </td>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-model="vm.role.imagePolicy.view">
                                                        <i></i>
                                                    </label>
                                                </td>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-model="vm.role.imagePolicy.edit">
                                                        <i></i>
                                                    </label>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-model="vm.role.imagePolicy.delete">
                                                        <i></i>
                                                    </label>

                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-model="vm.role.imagePolicy.export">
                                                        <i></i>
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    寿险
                                                </td>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-model="vm.role.lifePolicy.view">
                                                        <i></i>
                                                    </label>
                                                </td>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-model="vm.role.lifePolicy.edit">
                                                        <i></i>
                                                    </label>
                                                </td>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-model="vm.role.lifePolicy.append">
                                                        <i></i>
                                                    </label>
                                                </td>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-model="vm.role.lifePolicy.delete">
                                                        <i></i>
                                                    </label>

                                                </td>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-model="vm.role.lifePolicy.aprove">
                                                        <i></i>
                                                    </label>
                                                </td>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-model="vm.role.lifePolicy.pay">
                                                        <i></i>
                                                    </label>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-model="vm.role.lifePolicy.export">
                                                        <i></i>
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    代理人系统日志
                                                </td>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-model="vm.role.log.view">
                                                        <i></i>
                                                    </label>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                </td>
                                                <td>

                                                </td>
                                                <td>

                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </section>
                            </div>
                            <footer class="clear">
                                <span>
                                    <button validation-submit="roleForm" ng-click="vm.submit()" class="btn btn-primary" ng-show="vm.editable">提交后添加下一条
                                    </button>
                                    <button validation-submit="roleForm" class="btn btn-primary" ng-show="vm.editable" ng-click="vm.submitAndBack()">提交后查看列表
                                    </button>
                                </span>
                            </footer>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </div>


</div>