<!-- MAIN CONTENT -->
<div id="content">

    <div class="row">
        <article class="col-sm-12">
            <span>
                <input type="text" class="input-md" name="from-date" placeholder="起始日期" data-smart-datepicker data-dateformat='yyyy-MM-dd'
                    ng-model="vm.fromDate" ng-change="vm.filterChanged()">
                <input type="text" class="input-md" name="to-date" placeholder="截止日期" data-smart-datepicker data-dateformat='yyyy-MM-dd'
                    ng-model="vm.toDate" ng-change="vm.filterChanged()">
                <select ng-show="user.userrole.policy_scpoe!='本人'" style="min-width: 240px;" name='level2Org' class="input-sm" data-ng-change="vm.level2OrgChanged()"
                    ng-model="vm.filterSettings.level2_org" ng-options="c._id as c.name for c in vm.level2Orgs">
                    <option value="">选择二级机构</option>
                </select>
                <select ng-show="user.userrole.policy_scpoe!='本人'" style="min-width: 240px;" name='level3Org' class="input-sm" ng-disabled="!vm.filterSettings.level2_org"
                    data-ng-change="vm.level3OrgChanged()" ng-model="vm.filterSettings.level3_org" ng-options="c._id as c.name for c in vm.level3Orgs">
                    <option value="">选择三级机构</option>
                </select>
                <select ng-show="user.userrole.policy_scpoe!='本人'" style="min-width: 240px;" name='level4Org' class="input-sm" ng-disabled="!vm.filterSettings.level3_org"
                    data-ng-change="vm.level4OrgChanged()" ng-model="vm.filterSettings.level4_org" ng-options="c._id as c.name for c in vm.level4Orgs">
                    <option value="">选择四级机构</option>
                </select>
                <select ng-show="user.userrole.policy_scpoe!='本人'" style="min-width: 240px;" name='level5Org' class="input-sm" ng-disabled="!vm.filterSettings.level4_org"
                    data-ng-change="vm.level5OrgChanged()" ng-model="vm.filterSettings.level5_org" ng-options="c._id as c.name for c in vm.level5Orgs">
                    <option value="">选择五级机构</option>
                </select>
                <br/>
                <button ng-click="vm.refreshClicked()" class="btn btn-primary">
                    <i class="fa fa-fw fa-refresh"></i>刷新</button>
                <button ng-show="user.userrole.bulkDealerPolicy_paid.export" ng-click="vm.exportFilteredPolicies()" class="btn btn-primary">
                    <i class="fa fa-fw fa-cloud-download"></i>导出Excel</button>
                <!-- <label> 跟单费总额:{{vm.totalIncome.toFixed(2)}}  结算费总额:{{vm.totalPayment.toFixed(2)}}  毛利润总额:{{vm.totalProfit.toFixed(2)}}</label>                      -->
            </span>


            <div class="policies-table" jarvis-widget id="standard-datatable-widget" data-widget-color="darken" data-widget-editbutton="false">
                <header>
                    <span class="widget-icon">
                        <i class="fa fa-table"></i>
                    </span>
                    <h2>{{vm.tableHeader+' 共'+vm.policyTotalCount+'条'}}</h2>
                </header>
                <div>
                    <div class="widget-body no-padding table-responsive">

                        <table class="table-striped table-condensed" tr-ng-grid items="vm.policies" fields="vm.displayFields" page-items="vm.pageSize"
                            enable-filtering="false" total-items="vm.policyTotalCount" on-data-required="vm.onServerSideItemsRequested(currentPage, pageItems, filterBy, filterByFields, orderBy, orderByReverse)"
                            current-page="vm.currentPage">
                            <thead>
                                <tr>
                                    <th field-name="created_at" display-name="出单时间" enable-filtering="false" enable-sorting="false" display-format="date:'yyyy-MM-dd'">
                                    </th>
                                    <th field-name="organization.name" display-name="营业部" enable-filtering="false" enable-sorting="false">
                                    </th>
                                    <th field-name="final_company" display-name="保险公司" display-format="getCompany:gridItem" enable-filtering="false"
                                        enable-sorting="false">
                                    </th>
                                    <th field-name="client.name" cell-width="8em" display-name="业务来源" enable-filtering="true" enable-sorting="false">
                                        <div class="tr-ng-title">
                                            业务来源
                                        </div>
                                        <div class="tr-ng-column-filter">
                                            <ui-select style="min-width: 124px;" ng-model="vm.clientInfo" theme="select2" ng-change="vm.clientFilterChanged()">
                                                <ui-select-match class="input-xs">{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="client in vm.clients | filter: $select.search | limitTo: vm.infiniteScroll.currentItems" infinite-scroll="vm.addMoreItems()"
                                                    infinite-scroll-distance="2">
                                                    <div ng-bind-html="client.name"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </th>
                                    <th field-name="product_name" display-name="险种名称" enable-filtering="false" enable-sorting="false">
                                    </th>
                                    <th field-name="fee" display-name="保费" display-format="currency:'￥'" enable-filtering="false" enable-sorting="false">
                                    </th>
                                    <th field-name="income_rate" display-name="跟单比例(%)" enable-filtering="false" enable-sorting="false">
                                    </th>
                                    <th field-name="income" display-name="跟单费" display-format="currency:'￥'" enable-filtering="false" enable-sorting="false">
                                    </th>
                                    <th field-name="payment_rate" display-name="结算比例(%)" enable-filtering="false" enable-sorting="false">
                                    </th>
                                    <th field-name="payment" display-name="结算费" display-format="currency:'￥'" enable-filtering="false" enable-sorting="false">
                                    </th>
                                    <th field-name="profit" display-name="利润" display-format="currency:'￥'" enable-filtering="false" enable-sorting="false">
                                    </th>
                                    <th field-name="url" display-name="保单扫描件" enable-filtering="false" enable-sorting="false">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td field-name="client.name"></td>
                                </tr>
                                <td field-name="url">
                                    <a ng-href= {{vm.getPhotoUrl(gridItem)}} target="_blank">扫描件链接</a>
                                </td>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </article>
    </div>

</div>