<!DOCTYPE html>
<html lang="zh-CN" ng-app="app.wechat">
	<head>
	
		<meta charset="utf-8">
		<title>红叶保险查询系统</title>
		<meta name="description" content="">
		<meta name="author" content="Wang Chun">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- #CSS Links -->
		<!-- Basic Styles -->
		<link rel="stylesheet" type="text/css" media="screen" href="../styles/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../styles/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../styles/css/wechat.css">
	</head>
	
	<body data-title="红叶保险代理查询系统">

		<ng-view></ng-view>
		<!--<div data-ng-view="root"></div>-->

		<script type="text/javascript" src="../plugin/angular/angular.min.js"></script>
		<script type="text/javascript" src="../plugin/angular-ui-router/release/angular-ui-router.min.js"></script>
		<script type="text/javascript" src="../plugin/angular-route/angular-route.min.js"></script>
		<script type="text/javascript" src="app.js"></script>		
		<script type="text/javascript" src="controllers.js"></script>
		<script type="text/javascript"  src="services.js"></script>

		</body>
	
</html>
