<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
        <article class="col-sm-12">
            <span>
                <input type="text" class="input-md" name="from-date" placeholder="起始日期" data-smart-datepicker data-dateformat='yyyy-MM-dd'
                    ng-model="vm.fromDate" ng-change="vm.filterChanged()">
                <input type="text" class="input-md" name="to-date" placeholder="截止日期" data-smart-datepicker data-dateformat='yyyy-MM-dd'
                    ng-model="vm.toDate" ng-change="vm.filterChanged()">
                <input type="text" class="input-md" name="approved-from-date" placeholder="起始审核日期" data-smart-datepicker data-dateformat='yyyy-MM-dd'
                    ng-model="vm.approvedFromDate" ng-change="vm.filterChanged()">
                <input type="text" class="input-md" name="approved-to-date" placeholder="截止审核日期" data-smart-datepicker data-dateformat='yyyy-MM-dd'
                    ng-model="vm.approvedToDate" ng-change="vm.filterChanged()">
                <input type="text" class="input-md" name="swiped-from-date" placeholder="起始刷卡日期" data-smart-datepicker data-dateformat='yyyy-MM-dd'
                    ng-model="vm.swipedFromDate" ng-change="vm.filterChanged()">
                <input type="text" class="input-md" name="swiped-to-date" placeholder="截止刷卡日期" data-smart-datepicker data-dateformat='yyyy-MM-dd'
                    ng-model="vm.swipedToDate" ng-change="vm.filterChanged()">
                <br/>
                <button ng-click="vm.refreshClicked()" class="btn btn-primary">
                    <i class="fa fa-fw fa-refresh"></i>刷新</button>
                <button ng-click="vm.exportFilteredPolicies()" class="btn btn-primary">
                    <i class="fa fa-fw fa-cloud-download"></i>导出Excel</button>
                <label ng-show="vm.isShowBulkOperationButton"> 选中{{vm.selectedPolicies.length}}条保单 跟单费总额:{{vm.summary.total_income.toFixed(2)}} 结算费总额:{{vm.summary.total_payment.toFixed(2)}}</label>
                <button ng-show="vm.isShowBulkOperationButton" ng-click="vm.bulkPay()" class="btn btn-primary">批量支付选中的保单</button>
            </span>


            <div class="policies-table" jarvis-widget id="standard-datatable-widget" data-widget-color="darken" data-widget-editbutton="false">
                <header>
                    <span class="widget-icon">
                        <i class="fa fa-table"></i>
                    </span>
                    <h2>{{vm.tableHeader+' 共'+vm.policyTotalCount+'条'}}</h2>
                </header>
                <div>
                    <div class="widget-body no-padding table-responsive">

                        <table class="table-striped table-condensed" tr-ng-grid items="vm.policies" fields="vm.displayFields" page-items="vm.pageSize"
                            enable-filtering="false" total-items="vm.policyTotalCount" on-data-required="vm.onServerSideItemsRequested(currentPage, pageItems, filterBy, filterByFields, orderBy, orderByReverse)"
                            current-page="vm.currentPage">
                            <thead>
                                <tr>
                                    <th ng-show="user.userrole.dealerPolicy_to_be_paid.pay" display-align="center" cell-width="2em">
                                        <div class="tr-ng-title">&nbsp;</div>
                                        <input type="checkbox" ng-model="vm.areAllSelected" ng-change="vm.areAllSelected?vm.selectAll():vm.clearSelection()">
                                    </th>
                                    <th field-name="created_at" display-name="提交时间" enable-filtering="false" enable-sorting="false" display-format="date:'yyyy-MM-dd'">
                                    </th>
                                    <th field-name="swiped_at" display-name="刷卡时间" enable-filtering="false" enable-sorting="false" display-format="date:'yyyy-MM-dd'">
                                    </th>
                                    <th field-name="approved_at" display-name="审核时间" display-format="getApprovedTime:gridItem" enable-filtering="false" enable-sorting="false">
                                    </th>
                                    <th field-name="client.name" cell-width="8em" display-name="业务来源" enable-filtering="true" enable-sorting="false">
                                        <div class="tr-ng-title">
                                            业务渠道
                                        </div>
                                        <div class="tr-ng-column-filter">
                                            <ui-select style="min-width: 224px;" ng-model="vm.clientInfo" theme="select2" ng-change="vm.clientFilterChanged()">
                                                <ui-select-match class="input-xs">{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="client in vm.clients | filter: $select.search | limitTo: vm.infiniteScroll.currentItems" infinite-scroll="vm.addMoreItems()"
                                                    infinite-scroll-distance="2">
                                                    <div ng-bind-html="client.name"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </th>
                                    <th field-name="applicant.payer" cell-width="6em" display-name="被保险人" enable-filtering="false" enable-sorting="false">
                                    </th>
                                    <th field-name="plate" display-name="车牌号" display-format="combinePlate:gridItem" enable-filtering="false" enable-sorting="false">
                                    </th>

                                    <th field-name="client.bank" display-name="开户行" enable-filtering="false" enable-sorting="false">
                                    </th>
                                    <th field-name="client.account" display-name="收款账号" enable-filtering="false" enable-sorting="false">
                                    </th>
                                    <th field-name="total_income" display-name="跟单费总额" display-format="currency:'￥'" enable-filtering="false" enable-sorting="false">
                                    </th>
                                    <th field-name="total_payment" display-name="总结算费" display-format="currency:'￥'" enable-filtering="false" enable-sorting="false">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td ng-show="user.userrole.dealerPolicy_to_be_paid.pay">
                                        <div>
                                            <input type="checkbox" ng-model="gridItem.isSelected" ng-change="vm.selectionChanged()">
                                        </div>
                                    </td>
                                    <td field-name="client.name"></td>
                                    <td>
                                        <button ng-show="user.userrole.dealerPolicy_to_be_paid.view" ng-click="vm.view(gridItem)" class="btn btn-primary btn-sm">查看</button>
                                        <button ng-show="user.userrole.dealerPolicy_to_be_paid.delete" ng-click="vm.delete(gridItem._id)" class="btn btn-primary btn-sm">删除</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <section class="col col-4">
                            <button class="btn btn-primary" ng-show="vm.pageSize < vm.policyTotalCount" ng-click="vm.showAll()">在一页显示所有符合筛选条件的保单(最多500条一页)</button>
                        </section>
                    </div>
                </div>
            </div>
        </article>
    </div>

</div>