<div id="content">
<a href=ImportTemplate.xlsx>下载导入模板</a>
    <div class="row">
        <article class="col-sm-12">
            <div class="policies-table" jarvis-widget data-widget-color="darken" data-widget-editbutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-info"></i> </span>
                    <h2>批量导入设置</h2>
                </header>
                <div>
                    <div class="widget-body no-padding">
                        <form name="policyForm" id="policyForm" class="smart-form" novalidate>
                            <fieldset class="optional-input-field-set">
                                <div class="row">
                                    <section class="col col-8">
                                        <label class="label">保险公司</label>
                                        <section class="col col-4">
                                            <select style="min-width: 240px;" name='level2Company' class="input-sm" data-ng-change="vm.level2Changed()" ng-model="vm.level2_company"
                                                ng-options="c._id as c.name for c in vm.level2Companies">
                                            <option value="">选择二级保险公司</option>
                                        </select>
                                        </section>
                                        <section class="col col-4">
                                            <select style="min-width: 240px;" name='level3Company' class="input-sm" ng-disabled="!vm.level2_company" data-ng-change="vm.level3Changed()"
                                                ng-model="vm.level3_company" ng-options="c._id as c.name for c in vm.level3Companies">
                                            <option value="">选择三级保险公司(如有)</option>
                                        </select>
                                        </section>
                                        <sectio n class="col col-4">
                                            <select style="min-width: 240px;" name='level4Company' class="input-sm" ng-disabled="!vm.level3_company" data-ng-change="vm.level4Changed()"
                                                ng-model="vm.level4_company" ng-options="c._id as c.name for c in vm.level4Companies">
                                            <option value="">选择四级保险公司(如有)</option>
                                        </select>
                                    </section>
                                    </section>
                                    <section class="col col-4">
                                        <label class="label">车商(可输入拼音首字母快速选择)</label>
                                        <label class="input">
                                            <ui-select style="min-width: 364px;" ng-model="vm.clientInfo" theme="select2">
                                                <ui-select-match class="input-lg" placeholder="输入拼音首字母可快速选择">{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="client in vm.clients| propsFilter: {name: $select.search}">
                                                    <div ng-bind-html="client.name"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </label>
                                    </section>
                                </div>
                            </fieldset>

                            <fieldset class="optional-input-field-set">
                                <div class="row">
                                    <section class="col col-4">
                                        <label class="label">导入EXCEL</label>
                                        <label class="select">
                                            <input type="file" class = "input-lg" accept=".xlsx,.xls"
                                             onchange="angular.element(this).scope().vm.fileChanged(this.files);"/>
                                        </label>
                                    </section>

                                </div>
                                <div class="row">
                                    <section class="col col-4">
                                        <button class="btn btn-primary" ng-disabled="vm.isDisableParseButton()" ng-click="vm.parseFile()">解析Excel</button>
                                    </section>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>

            <div ng-show="vm.policies.length > 0" class="policies-table" jarvis-widget id="standard-datatable-widget" data-widget-color="darken"
                data-widget-editbutton="false">

                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>{{'预览本次导入保单 共'+vm.policies.length+'条'}}</h2>
                </header>
                <div>
                    <div class="widget-body no-padding table-responsive">

                        <table class="table-striped table-condensed" tr-ng-grid items="vm.policies" fields="vm.displayFields" page-items="15" enable-filtering="false">
                            <thead>
                                <tr>
                                    <th field-name="created_at" display-name="出单时间" enable-filtering="false" enable-sorting="false" display-format="date:'yyyy-MM-dd'">
                                    </th>
                                    <th field-name="policy_no" display-name="保单号" enable-filtering="false" enable-sorting="false">
                                    </th>
                                    <th field-name="applicant" cell-width="6em" display-name="被保险人" enable-filtering="false" enable-sorting="false">
                                    </th>
                                    <th field-name="plate" display-name="车牌号" enable-filtering="false" enable-sorting="false">
                                    </th>
                                    <th field-name="policy_name" display-name="险种名称" enable-filtering="false" enable-sorting="false">
                                    </th>
                                    <th field-name="fee" display-name="保费" display-format="currency:'￥'" enable-filtering="false" enable-sorting="false">
                                    </th>
                                    <th field-name="income_rate" display-name="跟单比例(%)" enable-filtering="false" enable-sorting="false">
                                    </th>
                                    <th field-name="income" display-name="跟单费" display-format="currency:'￥'" enable-filtering="false" enable-sorting="false">
                                    </th>
                                    <th field-name="payment_substract_rate" display-name="结算扣(%)" enable-filtering="false" enable-sorting="false">
                                    </th>
                                    <th field-name="payment" display-name="结算费" display-format="currency:'￥'" enable-filtering="false" enable-sorting="false">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
                <footer>
                    <span>
                        <button class="btn btn-primary" ng-click="vm.submitPolicies()">提交全部{{vm.policies.length}}条导入保单</button>
                    </span>
                </footer>
            </div>
        </article>
    </div>


</div>