<div class="row">
	<section class="col col-md-8">
		<div id="policy-photo" 
		data-ng-magnify
		data-glass-width="300"
    	data-glass-height="300"
		image-src={{vm.getImageUrl()}} 
		width="800"></div>
	</section>
	<section class="col col-md-4" ng-show="!vm.photoOnly">
			<label>{{vm.companyName}}</label>
			<br>
			<label>{{vm.policy.applicant.name}}</label>
			<br>
			<label>{{vm.policy.plate_no}}</label>
			<br>
			<label>交强险保费：{{vm.policy.mandatory_fee.toFixed(2)}}</label>
			<br>
			<label>商业险保费：{{vm.policy.commercial_fee.toFixed(2)}}</label>
	</section>
</div>