<div class="row">
	<section class="col col-md-8">
		<!--<img ng-src={{vm.getImageUrl()}} alt="保单扫描件" width="700" data-ng-magnify/>-->
		<div id="policy-photo" 
		data-ng-magnify
		data-glass-width="300"
    	data-glass-height="300"
		image-src={{vm.getImageUrl()}} 
		width="800"></div>
	</section>
	<section class="col col-md-4">
			<label>{{vm.companyName}}</label>
			<br>
			<label>{{vm.policy.applicant.name}}</label>
			<br>
			<label>{{vm.policy.plate_no}}</label>
			<br>
			<label>交强险保费：{{vm.policy.mandatory_fee.toFixed(2)}}</label>
			<br>
			<label>商业险保费：{{vm.policy.commercial_fee.toFixed(2)}}</label>
			<!--<dl class="dl-horizontal">
				<dt>保险公司</dt>
				<dd>{{vm.companyName}}</dd>
				<dt>投保人</dt>
				<dd>{{vm.policy.applicant.name}}</dd>
				<dt>车牌号</dt>
				<dd>{{vm.policy.plate_no}}</dd>
				<dt>交强险保费</dt>
				<dd>{{vm.policy.mandatory_fee.toFixed(2)}}</dd>
				<dt>商业险保费</dt>
				<dd>{{vm.policy.commercial_fee.toFixed(2)}}</dd>
			</dl>-->
	</section>
</div>