<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
        <!--<big-breadcrumbs items="['Table', 'Data Tables']" icon="table" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
        <div smart-include="app/layout/partials/sub-header.tpl.html"></div>-->
    </div>
    <!-- widget grid -->
    <!--<section widget-grid id="widget-grid">-->

    <div class="row">
        <article class="col-sm-12">
            <span>
               <input type="text" class="input-md" name="from-date" placeholder="起始日期" data-smart-datepicker data-dateformat='yyyy-MM-dd'
                                            ng-model="vm.fromDate" ng-change="vm.filterChanged()">
               <input type="text" class="input-md" name="to-date" placeholder="截止日期" data-smart-datepicker data-dateformat='yyyy-MM-dd'
                                            ng-model="vm.toDate" ng-change="vm.filterChanged()">
                <button ng-click="vm.refreshPolicies()" class="btn btn-primary"><i class="fa fa-fw fa-refresh"></i>刷新</button>
                <button ng-click="vm.exportFilteredPolicies()" class="btn btn-primary"><i class="fa fa-fw fa-cloud-download"></i>导出Excel</button>              

            </span>


            <div class="policies-table" jarvis-widget id="standard-datatable-widget" data-widget-color="darken" data-widget-editbutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>{{vm.tableHeader+' 共'+vm.policyTotalCount+'条'}}</h2>
                </header>
                <div>
                    <div class="widget-body no-padding table-responsive">

                        <table class="table-striped table-condensed" tr-ng-grid items="vm.policies" fields="vm.displayFields" page-items="vm.pageSize" enable-filtering="false"
                            total-items="vm.policyTotalCount" on-data-required="vm.onServerSideItemsRequested(currentPage, pageItems, filterBy, filterByFields, orderBy, orderByReverse)">
                            <thead>
                                <tr>
                                    <th ng-show="user.role!='出单员'" display-align="center" cell-width="2em">
                                        <div class="tr-ng-title">&nbsp;</div>
                                        <input type="checkbox" ng-model="vm.areAllSelected" ng-change="vm.areAllSelected?vm.selectAll():vm.clearSelection()">
                                    </th>
                                    <th field-name="created_at" display-name="提交时间" enable-filtering="false" enable-sorting="false" display-format="date:'yyyy-MM-dd'">
                                    </th>
                                    <!--<th field-name="client.name" cell-width="8em" display-name="业务来源" enable-filtering="true" enable-sorting="false">
                                        <div class="tr-ng-title">
                                            业务来源
                                        </div>
                                        <div class="tr-ng-column-filter">
                                            <ui-select style="min-width: 124px;" ng-model="vm.clientInfo" theme="select2" ng-change="vm.clientFilterChanged()">
                                                <ui-select-match class="input-xs">{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="client in vm.clients | filter: $select.search | limitTo: vm.infiniteScroll.currentItems"
                                                     infinite-scroll="vm.addMoreItems()"
                                                     infinite-scroll-distance="2">
                                                    <div ng-bind-html="client.name"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </th>-->
                                    <th field-name="contact" cell-width="6em" display-name="对接人" display-format="getContact:gridItem" enable-filtering="false" enable-sorting="false">
                                    </th>
                                    <th field-name="applicant.name" cell-width="6em" display-name="投保人" enable-filtering="false" enable-sorting="false">
                                    </th>
                                    <th field-name="plate" display-name="车牌号" display-format="combinePlate:gridItem" enable-filtering="false" enable-sorting="false">
                                    </th>
                                    <th field-name="organization.name" display-name="营业部" enable-filtering="false" enable-sorting="false">
                                        <div class="tr-ng-title">
                                            营业部
                                        </div>
                                        <div ng-show="user.role!='出单员'">
                                            <div class="tr-ng-column-filter">
                                                <select class="form-control input-sm" ng-model="vm.filterSettings.organization" ng-options="o._id as o.name for o in vm.organizations | orderBy:['name']"
                                                    ng-change="vm.filterChanged()">
                                                    <option value="" selected></option>
                                                </select>
                                            </div>
                                        </div>
                                    </th>
                                    <th field-name="mandatory_fee" display-name="交强保费" display-format="currency:'￥'" enable-filtering="false" enable-sorting="false">
                                    </th>
                                    <th field-name="mandatory_fee_income_rate" display-name="交跟(%)" enable-filtering="false" enable-sorting="false">
                                    </th>
                                    <!--<th field-name="mandatory_fee_income" display-name="交强跟单费" display-format="currency:'￥'" enable-filtering="false" enable-sorting="false">
                                    </th>-->
                                    <th field-name="mandatory_fee_payment_rate" display-name="交结(%)" enable-filtering="false" enable-sorting="false">
                                    </th>
                                    <!--<th field-name="mandatory_fee_payment" display-name="交强结算费" display-format="currency:'￥'" enable-filtering="false" enable-sorting="false">
                                    </th>-->
                                    <th field-name="commercial_fee" display-name="商业保费" display-format="currency:'￥'" enable-filtering="false" enable-sorting="false">
                                    </th>
                                    <th field-name="commercial_fee_income_rate" display-name="商跟(%)" enable-filtering="false" enable-sorting="false">
                                    </th>
                                    <!--<th field-name="commercial_fee_income" display-name="商业跟单费" display-format="currency:'￥'" enable-filtering="false" enable-sorting="false">
                                    </th>-->
                                    <th field-name="commercial_fee_payment_rate" display-name="商结(%)" enable-filtering="false" enable-sorting="false">
                                    </th>
                                    <!--<th field-name="commercial_fee_payment" display-name="商业结算费" display-format="currency:'￥'" enable-filtering="false" enable-sorting="false">
                                    </th>-->
                                    <th field-name="payment_substraction_rate" display-name="结算扣减(%)" enable-filtering="false" enable-sorting="false">
                                    </th>
                                    <th field-name="total_income" display-name="总跟单费" display-format="currency:'￥'" enable-filtering="false" enable-sorting="false">
                                    </th>
                                    <th field-name="total_payment" display-name="总结算费" display-format="currency:'￥'" enable-filtering="false" enable-sorting="false">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-class="{'txt-color-red':gridItem.has_warning}">
                                    <td ng-show="user.role!='出单员'">
                                        <div>
                                            <input type="checkbox" ng-model="gridItem.isSelected" ng-change="vm.selectionChanged()">
                                        </div>
                                    </td>
                                    <!--<td field-name="client.name"></td>-->
                                    <td field-name="organization.name"></td>
                                    <td>
                                        <button ng-show="vm.isShowViewButton(gridItem)" ng-click="vm.view(gridItem)" class="btn btn-primary btn-sm">查看</button>
                                        <button ng-show="vm.isShowDeleteButton(gridItem)" ng-click="vm.delete(gridItem._id)" class="btn btn-primary btn-sm">删除</button>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </article>
    </div>

</div>