<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
        <article class="col-sm-12">
            <span>
                <input type="text" class="input-md" name="from-date" placeholder="起始到期日期" data-smart-datepicker data-dateformat='yyyy-MM-dd' data-min-date="vm.minExpireDate" data-max-date="vm.maxExpireDate"
                    ng-model="vm.expireFromDate" ng-change="vm.filterChanged()">
                <input type="text" class="input-md" name="to-date" placeholder="截止到期日期" data-smart-datepicker data-dateformat='yyyy-MM-dd' data-min-date="vm.minExpireDate" data-max-date="vm.maxExpireDate"
                    ng-model="vm.expireToDate" ng-change="vm.filterChanged()">
                <br/>
                <select style="min-width: 240px;" name='level2Company' class="input-sm" data-ng-change="vm.level2Changed()" ng-model="vm.filterSettings.level2_company"
                    ng-options="c._id as c.name for c in vm.level2Companies">
                    <option value="">选择二级保险公司</option>
                </select>
                <select style="min-width: 240px;" name='level3Company' class="input-sm" ng-disabled="!vm.filterSettings.level2_company" data-ng-change="vm.level3Changed()"
                    ng-model="vm.filterSettings.level3_company" ng-options="c._id as c.name for c in vm.level3Companies">
                    <option value="">选择三级保险公司(如有)</option>
                </select>
                <select style="min-width: 240px;" name='level4Company' class="input-sm" ng-disabled="!vm.filterSettings.level3_company" data-ng-change="vm.level4Changed()"
                    ng-model="vm.filterSettings.level4_company" ng-options="c._id as c.name for c in vm.level4Companies">
                    <option value="">选择四级保险公司(如有)</option>
                </select>
                <br>
                <select ng-show="user.userrole.policy_scope!='本人'" style="min-width: 240px;" name='level2Org' class="input-sm" data-ng-change="vm.level2OrgChanged()"
                    ng-model="vm.filterSettings.level2_org" ng-options="c._id as c.name for c in vm.level2Orgs">
                    <option value="">选择二级机构</option>
                </select>
                <select ng-show="user.userrole.policy_scope!='本人'" style="min-width: 240px;" name='level3Org' class="input-sm" ng-disabled="!vm.filterSettings.level2_org"
                    data-ng-change="vm.level3OrgChanged()" ng-model="vm.filterSettings.level3_org" ng-options="c._id as c.name for c in vm.level3Orgs">
                    <option value="">选择三级机构</option>
                </select>
                <select ng-show="user.userrole.policy_scope!='本人'" style="min-width: 240px;" name='level4Org' class="input-sm" ng-disabled="!vm.filterSettings.level3_org"
                    data-ng-change="vm.level4OrgChanged()" ng-model="vm.filterSettings.level4_org" ng-options="c._id as c.name for c in vm.level4Orgs">
                    <option value="">选择四级机构</option>
                </select>
                <select ng-show="user.userrole.policy_scope!='本人'" style="min-width: 240px;" name='level5Org' class="input-sm" ng-disabled="!vm.filterSettings.level4_org"
                    data-ng-change="vm.level5OrgChanged()" ng-model="vm.filterSettings.level5_org" ng-options="c._id as c.name for c in vm.level5Orgs">
                    <option value="">选择五级机构</option>
                </select>
                <br/>
                <input type="text" class="input-md" name="policy-no-filter" placeholder="保单号模糊查询" ng-model="vm.policyNoSearch" ng-change="vm.filterChanged()">
                <br/>
                <button ng-click="vm.refreshPolicies()" class="btn btn-primary">
                    <i class="fa fa-fw fa-refresh"></i>刷新</button>
                <button ng-show="user.userrole.policy_paid.export" ng-click="vm.exportFilteredPolicies()" class="btn btn-primary">
                    <i class="fa fa-fw fa-cloud-download"></i>导出Excel</button>
            </span>



            <div class="policies-table" jarvis-widget id="standard-datatable-widget" data-widget-color="darken" data-widget-editbutton="false">
                <header>
                    <span class="widget-icon">
                        <i class="fa fa-table"></i>
                    </span>
                    <h2>{{vm.tableHeader+' 共'+vm.policyTotalCount+'条'}}</h2>
                </header>
                <div>
                    <div class="widget-body no-padding table-responsive">

                        <table class="table-striped table-condensed" tr-ng-grid items="vm.policies" fields="vm.displayFields" page-items="15" enable-filtering="false"
                            total-items="vm.policyTotalCount" on-data-required="vm.onServerSideItemsRequested(currentPage, pageItems, filterBy, filterByFields, orderBy, orderByReverse)"
                            current-page="vm.currentPage">
                            <thead>
                                <tr>
                                    <th field-name="applicant.name" display-name="投保人" enable-filtering="false" enable-sorting="false">
                                    </th>
                                    <th field-name="plate" display-name="车牌号" display-format="combinePlate:gridItem" enable-filtering="false" enable-sorting="false">
                                    </th>
                                    <th field-name="organization.name" display-name="营业部" enable-filtering="false" enable-sorting="false">
                                    </th>
                                    <th field-name="client.name" cell-width="8em" display-name="业务来源" enable-filtering="true" enable-sorting="false">
                                        <div class="tr-ng-title">
                                            业务来源
                                        </div>
                                        <div class="tr-ng-column-filter">
                                            <ui-select style="min-width: 100px;" ng-model="vm.clientInfo" theme="select2" ng-change="vm.clientFilterChanged()">
                                                <ui-select-match class="input-xs">{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="client in vm.clients| filter: $select.search">
                                                    <div ng-bind-html="client.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </th>
                                    <th field-name="final_company" display-name="保险公司" display-format="getCompany:gridItem" enable-filtering="false" enable-sorting="false">
                                        </th>
                                        <th field-name="mandatory_fee" display-name="交强保费" display-format="currency:'￥'" enable-filtering="false" enable-sorting="false">
                                            </th>
                                            <th field-name="commercial_fee" display-name="商业保费" display-format="currency:'￥'" enable-filtering="false" enable-sorting="false">
                                                </th>
                                    <th field-name="expire_at" display-name="到期时间" enable-filtering="false" enable-sorting="false" display-format="getExpireDate:gridItem">
                                    </th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td field-name="client.name"></td>
                                    <td>
                                        <button ng-show="user.userrole.policy_reminder.view" ng-click="vm.view(gridItem)" class="btn btn-primary btn-sm">查看</button>
                                        <button ng-show="user.userrole.policy_reminder.clone" ng-click="vm.clone(gridItem._id)" class="btn btn-primary btn-sm">续期</button>
                                        <button ng-show="user.userrole.policy_reminder.ignore" ng-click="vm.ignore(gridItem._id)" class="btn btn-primary btn-sm">忽略</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </article>
    </div>

</div>