<div id="content">

    <div class="row">
        <article class="col-sm-12">
            <div>
                <button ng-show="(user.role=='出单员' && !vm.editable) || user.role=='管理员'" ng-click="vm.toggleEdit()" class="btn btn-primary"><i class="fa fa-fw fa-unlock"></i>编辑</button>
            </div>
            <div class="policies-table" jarvis-widget data-widget-color="darken" data-widget-editbutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-info"></i> </span>
                    <h2>主管薪酬结算单详情</h2>
                </header>
                <div>
                    <div class="widget-body no-padding">
                        <div class="alert alert-block alert-warning" ng-show="vm.editable">
                            <h3 class="alert-heading"> 提交前请务必仔细核对！</h3>
                        </div>

                        <form name="salaryForm" id="salaryForm" class="smart-form" novalidate>
                            <fieldset class="optional-input-field-set" ng-disabled="!vm.editable">
                                <div class="row">
                                    <section class="col col-2">
                                        <label class="label">年度</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-calendar"></i>
                                            <input type="text" class="input-lg" name="year" ng-model="vm.salary.year" validator="required">
                                        </label>
                                    </section>
                                    <section class="col col-2">
                                        <label class="label">月份</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-calendar"></i>
                                            <input type="text" class="input-lg" name="month" ng-model="vm.salary.month" validator="required">
                                        </label>
                                    </section>
                                    <section class="col col-2">
                                        <label class="label">主管姓名</label>
                                        <label class="input">
                                            <ui-select style="min-width: 164px;" ng-model="vm.managerInfo" theme="select2" ng-disabled="!vm.editable">
                                                <ui-select-match class="input-lg">{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="manager in vm.managers| filter: $select.search">
                                                    <div ng-bind-html="manager.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </label>
                                    </section>
                                    <section class="col col-1">
                                        <label class="label">职级</label>
                                        <label class="select">
                                            <select name="title" class="input-lg" ng-model="vm.salary.title" validator="required">
                                                <option value="">请选择</option>
                                                <option value="经理">经理</option>
                                                <option value="总监">总监</option>
                                            </select>
                                        </label>
                                    </section>
                                    <section class="col col-5">
                                        <label class="label">营业部</label>
                                        <label class="select">
                                            <select name='org' class="input-lg" ng-model="vm.salary.organization" ng-options="o._id as o.name for o in vm.organizations"
                                            validator="required">
                                                <option value="">请选择所属机构</option>
                                            </select> <i></i>
                                        </label>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col col-3">
                                        <label class="label">月度直辖处标准保费</label>
                                            <label class="input">
                                                <input type="text" class="input-lg" name="branch_policy_fee" price ng-model="vm.salary.branch_policy_fee"
                                                validator="required">
                                            </label>                              
                                    </section>
                                     <section class="col col-3">
                                        <label class="label">月度直辖区标准保费</label>
                                            <label class="input">
                                                <input type="text" class="input-lg" name="area_policy_fee" price ng-model="vm.salary.area_policy_fee"
                                                validator="required">
                                            </label>
                                    </section>
                                    <section class="col col-3">
                                        <label class="label">营业处底薪</label>
               
                                            <label class="input">
                                                <input type="text" class="input-lg" name="branch_salary" price ng-model="vm.salary.branch_salary" ng-change="vm.updateFee()"
                                                validator="required">
                                            </label>
                                       
                                    </section>
                                     <section class="col col-3">
                                        <label class="label">营业区底薪</label>
                                            <label class="input">
                                                <input type="text" class="input-lg" name="area_salary" price ng-model="vm.salary.area_salary" ng-change="vm.updateFee()"
                                                validator="required">
                                            </label>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col col-3">
                                        <label class="label">底薪合计（税前）</label>
                                            <label class="input">
                                                <input type="text" class="input-lg" name="salary_total" price ng-model="vm.salary.salary_total"
                                                validator="required">
                                            </label>
                                    </section>
                                     <section class="col col-3">
                                        <label class="label">底薪合计（扣5%税后）</label>
                                            <label class="input">
                                                <input type="text" class="input-lg" name="taxed_salary_total" price ng-model="vm.salary.taxed_salary_total"
                                                validator="required">
                                            </label>
                                        </section>
                                </div>
                            </fieldset>


                            <fieldset class="optional-input-field-set" ng-disabled=true>
                                <div class="row">
                                    <section class="col col-2">
                                        <label class="label">出单员</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-user"></i>
                                            <input class="input-lg" name="cdy" ng-model="vm.sellerInfo.name">
                                        </label>
                                    </section>
                                </div>
                            </fieldset>

                            <footer>
                                <span>
                                    <button validation-submit="salaryForm" ng-click="vm.submit()" class="btn btn-primary" ng-show="vm.editable">提交后录入下一条
                                    </button>
                                    <button validation-submit="salaryForm" class="btn btn-primary" ng-show="vm.editable"
                                            ng-click="vm.submitAndBack()">提交后查看列表
                                    </button>
                                </span>
                            </footer>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </div>


</div>