<div id="content">
    <div class="row">
        <article class="col-sm-12">
            <div>
                <button ng-click="vm.toggleEdit()" class="btn btn-primary" ng-show="user.userrole.organization.edit"><i class="fa fa-fw fa-unlock"></i>编辑</button>
            </div>
            <div class="policies-table" jarvis-widget data-widget-color="darken" data-widget-editbutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-info"></i> </span>
                    <h2>{{vm.level}}详情</h2>
                </header>
                <div>
                    <div class="widget-body no-padding">
                        <div class="alert alert-block alert-warning" ng-show="vm.editable">
                            <h3 class="alert-heading"> 提交前请务必仔细核对！</h3>
                        </div>
                        <form name="organizationForm" id="organizationForm" class="smart-form" novalidate>
                            <section class="col col-6">
                                <fieldset class="optional-input-field-set" ng-disabled="!vm.editable">
                                    <div class="row">
                                        <label class="label">上级公司</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-group"></i>
                                            <input type="text" class="input-lg" ng-disabled="true" name="parent" ng-model="vm.parentName">
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label class="label" style="margin-left:1em">业务管辖范围</label>
                                        <section class="col col-3">
                                            <select style="min-width: 340px;" name='cat' class="input-sm" data-ng-change="vm.provinceChanged()" ng-model="vm.organization.province"
                                                ng-options="p.name as p.name for p in vm.provinces">
                                                <option value="">选择所在省</option>
                                            </select>
                                        </section>
                                        <section class="col col-3">
                                            <select style="min-width: 340px;" name='cat' class="input-sm" ng-show="['市公司','区县公司', '营业部'].indexOf(vm.level) != -1" ng-disabled="!vm.organization.province" data-ng-change="vm.cityChanged()"
                                                ng-model="vm.organization.city" ng-options="c.name as c.name for c in vm.cities">
                                                <option value="">选择所在市</option>
                                            </select>
                                        </section>
                                        <section class="col col-3">
                                            <select style="min-width: 340px;" name='cat' class="input-sm" ng-show="['区县公司', '营业部'].indexOf(vm.level) != -1" ng-disabled="!vm.organization.city" data-ng-change="vm.districtChanged()"
                                                ng-model="vm.organization.district" ng-options="c.name as c.name for c in vm.districts">
                                                <option value="">选择所在区县</option>
                                            </select>
                                        </section>
                                    </div>
                                    <div class="row">                                      
                                            <label class="label">{{vm.level}}名称</label>
                                            <label class="input">
                                                <i class="icon-append fa fa-group"></i>
                                                <input type="text" class="input-lg" name="organization" ng-model="vm.organization.name" validator="required">
                                            </label>                                       
                                    </div>
                                    
                                </fieldset>
                            </section>

                            <footer class="clear">
                                <span>
                                    <button validation-submit="organizationForm" ng-click="vm.submit()" class="btn btn-primary" ng-show="vm.editable">提交后添加下一条
                                    </button>
                                    <button validation-submit="organizationForm" class="btn btn-primary" ng-show="vm.editable"
                                            ng-click="vm.submitAndBack()">提交后查看列表
                                    </button>
                                </span>
                            </footer>
                        </form>

                    </div>
                </div>
            </div>

            <div class="policies-table" jarvis-widget id="standard-datatable-widget" data-widget-color="darken" data-widget-editbutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>下属业务员</h2>
                </header>
                <div>
                    <div class="widget-body no-padding table-responsive">
                        <table class = "table-striped table-condensed" tr-ng-grid items="vm.subClients" page-items="15" enable-filtering="false">
                            <thead>
                                <tr>
                                    <th field-name="name" display-name="业务员姓名" enable-filtering="false" enable-sorting="false">
                                    </th>
                                     <th field-name="identity" display-name="身份证号" enable-filtering="false" enable-sorting="false">
                                    </th>
                                    <th field-name="lincense_no" display-name="执业证号" enable-filtering="false" enable-sorting="false">
                                    </th>
                                    <th field-name="bank" display-name="开户行" enable-filtering="false" enable-sorting="false">
                                    </th>
                                    <th field-name="account" display-name="收款账号" enable-filtering="false" enable-sorting="false">
                                    </th>
                                    <th field-name="phone" display-name="联系电话" enable-filtering="false" enable-sorting="false">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <!--<td>
                                        <button ng-click="vm.remove(gridItem._id)" class="btn btn-primary btn-sm">从</button>                                   
                                    </td>-->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <button ng-show="vm.isShowBulkOperationButton" ng-click="vm.bulkAssign()" class="btn btn-primary">批量添加选中业务员到该营业部</button>
            <div class="policies-table" jarvis-widget id="standard-datatable-widget" data-widget-color="darken" data-widget-editbutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>待分配业务员</h2>
                </header>
                <div>
                    <div class="widget-body no-padding table-responsive">
                        <table class = "table-striped table-condensed" tr-ng-grid items="vm.wildClients" page-items="50" enable-filtering="false">
                            <thead>
                                <tr>
                                    <th display-name="选择" enable-filtering="false" enable-sorting="false">
                                    </th>
                                    <th field-name="name" display-name="业务员姓名" enable-filtering="false" enable-sorting="false">
                                    </th>
                                     <th field-name="identity" display-name="身份证号" enable-filtering="false" enable-sorting="false">
                                    </th>
                                    <th field-name="lincense_no" display-name="执业证号" enable-filtering="false" enable-sorting="false">
                                    </th>
                                    <th field-name="bank" display-name="开户行" enable-filtering="false" enable-sorting="false">
                                    </th>
                                    <th field-name="account" display-name="收款账号" enable-filtering="false" enable-sorting="false">
                                    </th>
                                    <th field-name="phone" display-name="联系电话" enable-filtering="false" enable-sorting="false">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div>
                                            <input type="checkbox" ng-model="gridItem.isSelected" ng-change="vm.selectionChanged()">
                                        </div>
                                    </td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </article>
    </div>


</div>